# docker-compose.yml
services:
  redis:
    image: redis:latest
    container_name: redis-container
    ports:
      - "6379:6379"
    networks:
      - docker_internal_net

networks:
  docker_internal_net:
    external: true
    name: docker_internal_net
